<img *ngIf="btnScrollToTop" src="/assets/arrow.svg" alt="" class="scroll-top" (click)="scrollToTop()">
<div class="banner">
    <div class="img-wrapper" [ngStyle]="{background: 'url(' + bannerImg + ')'}"></div>
    <div class="caption">
        <img src="/assets/logo.jpg" alt="Voces de ciudad">
        <div class="text">
            <h3>Voces de ciudad</h3>
            <p>Tu espacio para escuchar las calles.</p>
        </div>
    </div>
</div>
<section>
    <div class="container">
        <h2>Capítulos</h2>
        <div class="chapter">
            <div class="info">
                <div class="thumbnail">
                    <img src="assets/logo.jpg" alt="Voces de ciudad">
                </div>
                <div class="description">
                    <h2>Vandalismo o Violencia policial #SOSColombia</h2>
                    <p>En este capítulo encontrarás entrevistas y opiniones sobre las agresiones vivenciadas en el marco de este último paro nacional.</p>
                    <div class="player">
                        <iframe scrolling="no" frameborder="0" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1124209789&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <a class="btn btn-outline-primary" role="button" routerLink="capitulos">Ver más</a>
        </div>
    </div>
</section>
<section id="members">
    <div class="container">
        <h2>Equipo</h2>
        <h3>Estas son las personas que hacen posible este espacio.</h3>
        <div class="members">
            <article>
                <img src="/assets/members/sofi.jpeg" alt="Sofía">
                <span>Sofía Raigoza Rodríguez</span>
            </article>
            <article>
                <img src="/assets/members/javid.jpeg" alt="Javid">
                <span>Javid Andrés Pelaez De La Hoz</span>
            </article>
            <article>
                <img src="/assets/members/juan.jpeg" alt="Juan">
                <span>Juan Manuel Orozco Aristizabal</span>
            </article>
            <article>
                <img src="/assets/members/sigi.jpeg" alt="Sigi">
                <span>Sigifredo Escobar Gómez</span>
            </article>
        </div>
    </div>
</section>
<section id="trending" class="trending">
    <div class="container">
        <h2>Tendencias</h2>
        <h3>¿Qué está pasando?</h3>
        <div class="news">
            <div class="chapter">
                <div class="info">
                    <div class="thumbnail">
                        <img src="assets/news/080921.jpg" alt="Maria Fernanda Cabal">
                    </div>
                    <div class="description">
                        <h2>Cabal, la candidata uribista "purasangre" versión 2022</h2>
                        <p>La fórmula que decidió esta semana el Centro Democrático para elegir a su próximo candidato presidencial favorece la candidatura que viene cimentando desde la derecha más radical la senadora María Fernanda Cabal.</p>
                        <span>Septiembre 8 2021</span>
                        <a href="https://www.lasillavacia.com/historias/silla-nacional/cabal-la-candidata-uribista-purasangre-version-2022/" class="btn btn-outline-primary" role="button" target="_blank">Ver más</a>
                    </div>
                </div>
            </div>
            <div class="chapter">
                <div class="info">
                    <div class="thumbnail">
                        <img src="assets/news/talibanes.jpg" alt="Talibanes">
                    </div>
                    <div class="description">
                        <h2>La conformación del nuevo gobierno talibán contradice los anuncios de apertura</h2>
                        <p>Habían prometido un gobierno inclusivo pero ese está lejos de ser el caso. La moderación anunciada resultó una política de maquillaje para la comunidad internacional.</p>
                        <span>Septiembre 8 2021</span>
                        <a href="https://www.las2orillas.co/la-conformacion-del-nuevo-gobierno-taliban-contradice-los-anuncios-de-apertura/" class="btn btn-outline-primary" role="button" target="_blank">Ver más</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>